<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Cabin|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="#"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bits and Bikes</title>
  </head>
  <body>

    <!-- all views find themselves here -->
    <div class="view-content" ng-view>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="all-bikes.js"></script>
  <script src="bike-factory.js"></script>
  <script src="edit-controller.js"></script>
  <script src="bikes-controller.js"></script>
  <script src="new-bike-controller.js"></script>
  <script src="weather.js"></script>
  </body>

</html>
